<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="#">Link1</a>
        </li>
        <li>
            <a href="#">Link2</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="/auth/signup">Sign up</a>
        </li>
        <li>
            <a href="/auth/login">Log in</a>
        </li>
        <li>
            <a href="/auth/logout">Log out</a>
        </li>
    </ul>
</nav>