<h1>Your Favorites</h1>

<p id="favorites">
  <% user.favorites.forEach(f => { %>
    <p><%= f.name %></p>
    <img src="<%= f.image %>" alt="image of favorited recipe">
    <p><%= f.serving %></p>
    <a href="<%= f.url %>">Click here to view the recipe</a>
    <br>
  <% }) %>
</p>