<!DOCTYPE html>
<html>
<head>
	<title>Search Page</title>
</head>
<body>
	<h1>Mi Cocina</h1>
	<form id="search" method="POST" action="/results/results">
		<label for="search-input">What sounds yummy?</label>
		<br />
		<input id="search-input" type="text" name="recipe">
		<input type="submit" value="Let's cook!">
	</form>
	<br />
</body>
</html>