html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: rebeccapurple;
    font-size: 32px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    margin: 0;
    display: inline;
    padding-left: 0px;
}

nav ul li {
    display: inline;
    padding: 5px 5px;
}

nav ul li a {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: chartreuse;
}

form {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    min-height: 30vh;
    width: 50vw;
    margin: 0 auto;
    border: 1px solid grey;
    box-shadow: 10px 5px 5px black;
    border-radius: 25px;
    padding: 2%;
    background-image: linear-gradient(to bottom right, cyan, blue);
    /* background-image: repeating-linear-gradient(red, yellow 10%, green 20%); */
}

.credentials-form input {
    max-width: 100%;
    margin: 10px 0px;
    padding: 1%;
}

.credentials-form input[type=submit] {
    padding: 20px;
}

.error-box {
  background-color: pink;
  color: red;
  font-weight: bold;
  padding: 30px 50px;
}

.container {
  margin: 0 15%;
  padding-top: 20px;
  background-color: lavender;
  height: 100vh;
}

h1 {
  margin-top: 0;
  text-align: center;
  color: rebeccapurple;
}
